* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  cursor: url('./image/car.png'), auto !important; /* Add !important here */
  
}

/* ... rest of the CSS code ... */



  
  :root {
    --maincolor: #ffc0cb;
    --mainfont: 'Montserrat';

  }
  
  div {
    background-color: var(--maincolor);
    border: solid black;
  }
  
  body {

    background-image: url('/image/bgd.png');
    background-attachment:fixed;
    background-size:cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    font-family: var(--mainfont);
    font-weight: 800;
    margin: 0 auto; /* Center the layout */
    height: 1000px;

  }
  
  header {
    position: fixed;
    top: 20px;
    width: 80%;
    background-color: var(--maincolor);
    z-index: 1;
    height: 100px;

  
  }
  .bheader {
flex-direction: row;
  height: 100px;
  }
  
  .main-content {
    flex: 1;

    margin-top: 100px;
  }
  
  .bbanner {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    font-weight: 1000;
    font-size: 100px;
    color: white;
    border: none;
    background-color: #009fee00;
  }
  
  .banner {
    width: 18%;
    height: auto;
  }
  .bbanner img {

    height:100px;
  }
  
  .center-image-container {
    top: 3%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(240, 248, 255, 0);
    margin-top: 150px;
    position: fixed;
border: none;
    height: 350px;
  }
  
  .center-image {
    width: 350px;
    height: auto;
  }
  
  .left-divs,
  .right-divs {
    background-color: #ffc0cb00;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 20%;
  }
  
  .left-divs {

    flex-direction: row;
    left: 3%;
  }
  
  .parent-container {
    position: relative;
  }
  
  .right-divs {
margin-right: -59%;
  }

  .right-div-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 205px;
    width: 360px;
  }
  
  .right-div-2{
    margin-top: 20px;
    height: 95px;
    width: 367px;
    
  }
  
  .buttons-container {
    position: sticky;
    margin-top: 620px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    background-color: rgba(196, 196, 196, 0);
    border-color: rgba(240, 248, 255, 0);
    border: none;
  }
  
  .fake-button {
    width: 115px;
    height: 60px;
    background-color: rgba(196, 196, 196, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

  }
  

  
  
  footer {
    margin-top: 50%;
    position: fixed;
    bottom: 20px;
    background-color: var(--maincolor);
    width: 100%;
    color: rgb(0, 0, 0);


  }
  footer h4 {

    position: fixed;
    bottom: 20px;
    background-color: var(--maincolor);
    width: 100%;
    border: solid black;
    border-width: 3px;
    font-weight: 600;
    font-style: italic;
    
  }


  
  .left-div-1{
    background-color: var(--maincolor);
    margin-left: 10px;

    border: solid black;
    height: 506px;  
  }
  .left-div-2{
    background-color: var(--maincolor);
    margin-left: 10px;

    border: solid black;
    height: 430px;  
  }
  
  .streaming-platforms {
    margin-top: 10px;
    gap: 10px;
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 200px;


  }
  
  .streaming-platforms li {

    margin: 2px;
  }
  
  .platform-button {
    display: inline-block;
    background-color: white;
    color: #000000;
    text-decoration: none;
    padding: 10px 15px;
border: solid black;
    font-weight: bold;
    transition: background-color 0.3s ease;

  }

  
  .platform-button:hover {
    background-color: rgb(34, 34, 34); /* Change this color if you want a different hover effect */
  }
  
.BT{

    font-weight: 1000;
    color: white;
    font-size: 21px;

}
  
.spotify:hover {
    background-color: #1DB954;
    color: rgb(255, 255, 255);
  }
  
  .apple-music:hover {
    background-image: linear-gradient(to bottom,red, red white);
    color: white;
    font-weight: 500;
  }
  
  .amazon-music:hover {
    background-color: #232f3e;
    color: #ff9900;
  }
  
  .google-play-music:hover {
    background-image: linear-gradient(to right, #4285F4, #DB4437, #F4B400, #0F9D58);
 color: black;
 
}
  
  
  .deezer:hover {
    background-image: linear-gradient(to right, purple, orange);
    color: white;
  }
  
  .pandora:hover {
    background-color: #00A0EE;
    color: white;
  }
  
 .cool{
    position: absolute;
background-color: #009fee00;
bottom: 65px;
height: 150px;
border: none;
 }

 .cool img{
height: 100px;
margin: 60px;
 }

 footer a{
  color: rgb(0, 0, 0);
  text-decoration: none;
 }

 .left-cross {
  top: 0;
  left: 0;
}

.right-cross {
  top: 0;
  right: 0;
}

 @media only screen and (max-width: 1488px) {

  .left-div-2{
margin-top: 10px;
  }

  .left-cross {
    top: 0;
    left: 10px;
  }
  
  .right-cross {
    top: 0;
    right: 10px;
  }

  body {
    position: relative;
    overflow-y: scroll;
  }
  
  header {
    position: fixed;

    top:20px;
height: 86px;
    background-color: var(--maincolor);

    display: flex;
    justify-content: center;
    align-items: center;

    width: auto;
  }
  
  .bbanner {

    justify-content: center;
    align-items: center;
    font-size: 70px;
  }
  
  .bbanner img {
    
    position: fixed;
    width: auto;
    height:0px
  }
  .center-image-container {
    position: static;
    margin-top: 130px;
    height: auto;
  }
  
  .left-divs,
  .right-divs {
    flex-direction: column;
    position: static;
    top: auto;
    left: auto;
    right: auto;
    margin-top: 10px;
    margin-right: 0;
  }
  


  
  .parent-container {
    position: static;
  }
  
  .right-div-2 {

    width: 80%;
    height: 150px;
    margin-bottom: 50px;
    align-content: center;
  }
  
  .buttons-container {
    position: relative;
margin-top: 20px;
bottom: 50px;
  }
  
  .fake-button {
    width: 100%;
    height: 40px;
    font-size: 14px;
  }
  
  footer {
    position: absolute;

  }
  
  footer h4 {
    position:fixed;
    bottom: 0px;

  }

  .left-div-2 {

height: 430px;
  }

  .buttons-container {

width: auto;
height: auto;
margin: 0px;
top: 120px;

  }

}


html, body {
  cursor: url('./image/car.png'), auto;

}

.CROSS {



  border: none;
  background-color: #009fee00;
}

.CROSS img {
  width: 60px;
  height: auto;
  background-color: #009fee00;
}


.bheader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;

}


a {
  color: #000000; 
}

a:visited {
  color: #000000; 
}

a:hover {
  color: #f169f1; 
}

.fake-button a {

  display: inline-block;
  background-color: var(--maincolor);
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 10px 11px;
border: solid rgb(0, 0, 0);
  font-weight: 1000;
  transition: background-color 0.3s ease;

}

.fake-button:hover{

  color: rgb(0, 0, 0);
  background-color: #ff1212;
}
.fake-button a:visited{

  color: rgb(0, 0, 0);

}

.BT{
  margin-top: 5px;
  color: rgb(0, 0, 0);
}

.platform-button{
margin: 3px;
}

